.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.p-l-0 {
    padding-left: 0;
}

.p-r-0 {
    padding-right: 0;
}

.p-t-0 {
    padding-top: 0;
}

.bg-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

h5 {
    line-height: 1.5em;
}

.common-tab.nav-tabs .nav-item {
    margin: 0;
    float: none;
    text-align: center;
}

.common-tab.nav-tabs .nav-item .nav-link {
    padding: 12px;
    border-radius: 0;
    border: 0;
    transition: background .2s ease-in;
}

.common-tab.nav-tabs .nav-item .nav-link:hover,
.common-tab.nav-tabs .nav-item .nav-link:focus {
    background-color: #11a030;
    color: #fff;
}

.common-tab.nav-tabs .nav-item .nav-link.active {
    border-radius: 0;
    background-color: #11a030;
    color: #fff;
}

.pending-dp-img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.41);
    margin: 0 auto 30px;
}

.card-txt {
    color: #fff;
    margin-bottom: 7px;
    /*font-size: 13px;*/
}

.com-img {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 7px 25px -7px rgb(255, 109, 0);
    position: relative;
}

.order-img {
    height: 50px;
    width: 100px;
    margin-bottom: 20px;
    box-shadow: 0px 7px 25px -7px rgb(255, 109, 0);
    position: relative;
}

.modal-backdrop {
    background-color: #11a030;
}

.modal-dialog {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .3);
}

.pending-block {
    margin-bottom: 20px !important;
    position: relative;
}

.del-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 23px;
}

.order-modal-top {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .15);
    padding: 20px;
}

.dis-left {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    padding-bottom: 0;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .2)
}

.dis-left::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #11a030;
}

.dis-left::-webkit-scrollbar {
    width: 5px;
    background-color: #11a030;
}

.dis-left::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

.dis-right {
    height: 400px;
}

.dispatcher {
    padding-bottom: 30px;
}

.batch {
    margin-bottom: 10px;
    display: inline-block;
    /*background-color: #1DE9B6;*/
    border-color: #fff;
    background-color: #fff;
    color: #11a030;
}

.add-btn {
    color: #fff !important;
}

.table-btn {
    margin-right: 0 !important;
    display: inline-block;
    padding: 3px;
}

.table-btn i {
    font-size: .9em;
}

#read-only-stars img {
    height: 9px;
}

.table-prof-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 3px 15px -2px rgba(255, 109, 0, 0.68);
}

.rating-symbol {
    color: #11a030;
    font-size: 12px;
    margin-right: 2px;
}

.table td,
.table th {
    padding: 0.75rem 0.5rem;
}

.tab-order {
    font-size: 13px;
    padding: 7px;
}

.box-primary {
    background-color: #11a030 !important;
}

.payment-card {
    margin-top: 30px;
}

.jp-card .jp-card-front, .jp-card .jp-card-back {
    background: #11a030 !important;
}

.toggle-btn .btn {
    background-color: #fff;
}

.pay-txt {
    color: #fff;
    margin-top: 10px;
}

.pay-block {
    margin: 0px 0px 20px 20px;
    padding: 20px;
}

.fr-toolbar {
    border-top: 5px solid #11a030;
    box-shadow: none;
}